/* COLORS PRESET 1 */


/* ------ */
.container {
    width: 85% !important;
}
.margin-default {
    margin-top: 15px;
    margin-bottom: 15px;
}
.margin-top-50 {
    margin-top: 50px;
}

.form-group input {
    width: 90%;
    margin: 5px auto;
}

.club-name {
    display: inline-block;
}

/* TABLE */
.table.table-flights td {
    vertical-align: middle;
    height: 50px;
}
.td-new-fly.less-pad {
    padding-left: 1px;
}

.empty-field {
    font-size: 20px;
    color: red;
}

.td-time-elapsed {
    position: relative;
}

.td-id {
    position: relative;
}

.time-elapsed-container {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.time-elapsed-container .time-elapsed-icon {
    font-size: 25px;
    color: #5bc0de;
    vertical-align: middle;
    padding-right: 10px;
}

.time-elapsed-container .time-elapsed-text {
    font-size: 18px;
    color: #5bc0de;
    vertical-align: middle;
}

.table-flights-mobile .td-title {
    font-weight: bold;
    border-top: none;
}

.table-flights-mobile .td-sub {
    border-top: none;
}

.table-flights-mobile .td-marche-aliante {
    vertical-align: top !important;
}

/* ------ */

/* FLAG CONTAINER */

.flag-container .green-flag {
    height: 50px;
    background-color: #5cb85c;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.flag-container .white-flag {
    height: 50px;
    background-color: #f9f9f9;
}

.flag-container .red-flag {
    height: 50px;
    background-color: #d9534f;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* ------- */

/* ROW ANIMATION */

.row-active{
    -webkit-animation: row-active-lamp 2s infinite;
    -moz-animation: row-active-lamp 2s infinite;
    -o-animation: row-active-lamp 2s infinite;
    -ms-animation: row-active-lamp 2s infinite;
    animation: row-active-lamp 2s infinite;
}

@-webkit-keyframes row-active-lamp {
    0% { background-color: #fff8e1; }
    50% { background-color: white; }
    100% { background-color: #fff8e1; }
}
@-moz-keyframes row-active-lamp {
    0% { background-color: #fff8e1; }
    50% { background-color: white; }
    100% { background-color: #fff8e1; }
}
@-ms-keyframes row-active-lamp {
    0% { background-color: #fff8e1; }
    50% { background-color: white; }
    100% { background-color: #fff8e1; }
}
@-o-keyframes row-active-lamp {
    0% { background-color: #fff8e1; }
    50% { background-color: white; }
    100% { background-color: #fff8e1; }
}
@keyframes row-active-lamp {
    0% { background-color: #fff8e1; }
    50% { background-color: white; }
    100% { background-color: #fff8e1; }
}

/* LED */

.led-box {
  height: 30px;
  width: 30px;
  margin: 10px 0;
  left: -30px;
  top: 5px;
  position: absolute;

}
.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

/* ------ */